{% extends 'base.html.twig' %}

{% block projet %}
    <section class="project-detail-card">
        <h1>Rezisten</h1>
    </section>
{% endblock %}

{% block description %}
    <section class="project-section">
        <h3>Description</h3>
        <p>
            Dans le cadre d'un projet de groupe pour la deuxième année de BUT Informatique nous devions créer une application mettant en avant le patrimoine matériel français. 
            Nous avons décider de créer un jeu narratif mettant le joueur dans la peau de resistants pendant la Seconde Guerre Mondiale. 
            Le but est de proposer plusieurs histoires aux joueurs et bloquer certaines routes derrière des qustion dont la réponse se trouvent uniquement sur certains lieux du patrimoine 
            et ainsi pousser à visiter les lieux que nous présentont.
            Nous avons aussi implémenter une partie de création, permettant à des spécialistes ou des passionnés d'écrire des histoires jouables par tous.
            L'autorisation pour écrire est donné par l'administration du site sur présentation d'une preuve de la qualification du demandeur.
            L'application a été codé en PhP et HTML et jouable sur navigateur.
        </p>
    </section>
{% endblock %}

{% block compétences %}
    <section class="project-section">
        <h3>Compétences mobilisées</h3>
        <ul>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Gestion de projet</li>
            <li>Écriture de scénario</li>
        </ul>
    </section>
{% endblock %}

{% block groupe %}
    <section class="project-section">
        <h3>Travail de groupe</h3>
        <p>
            Répartition des tâches, réunions hebdomadaires, intégration des différentes parties du jeu.
        </p>
    </section>
{% endblock %}

{% block individuel %}
    <section class="project-section">
        <h3>Travail personnel</h3>
        <p>
            Développement de pages d'informations et de profil, debug, écriture du scénario
        </p>
    </section>
{% endblock %}

{% block appris %}
    <section class="project-section">
        <h3>Ce que j'ai appris</h3>
        <ul>
            <li>Structurer un projet PHP/HTML</li>
            <li>Collaboration en équipe</li>
            <li>Gestion du temps et des priorités</li>
        </ul>
    </section>
{% endblock %}

{% block buttons %}
    <a href="{{ path('app_portfolio') }}" class="btn-retour">
        &larr; Retour 
    </a>
{% endblock %}
